* {
  box-sizing: border-box
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0; 
  background-color: lightpink;
}


.grid { 
  display: flex;
  flex-direction: row;
  height: 450px;
  width: 450px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cell {
  width: 50px;
  height: 50px;
  /* border: 1px solid purple; */
  font-size: 10px;
  display: flex;
  background-color: #60aec9;

}


.lilypad {
  width: 50px;
  height: 50px;
  background-image: url('lilypad.png');
  background-size: 150%;
}

.yellowCar {
  width: 50px;
  height: 50px;
  background-image: url('yellowCar.png');
  background-size: cover;
  padding: 1%
}

.policeCar {
  width: 50px;
  height: 50px;
  background-image: url('policeCar.png');
  background-size: cover;
  background-position: center;
}

.log {
background-image: url('log.png');
background-position: center;
background-size: contain;
}

.grass {
  background-color: lightgreen;
}

.roadPolice {
  background-color: lightgrey;
  border-bottom: 3px solid black;
}
.roadYellow {
  background-color: lightgrey;
  border-top: 3px solid black;
  border-bottom: 3px dotted yellow;
}

.frog {
  width: 50px;
  height: 50px;
  background-image: url('frog.png');
  background-size: contain;
  /* background-position: center; */
  /* border: 1px solid gray */
}
