* {
  box-sizing: border-box
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0; 
  background-color: lightpink;
}

.grid { 
  display: flex;
  flex-direction: row;
  height: 400px;
  width: 400px;
  border: 1px solid grey;
  flex-wrap: wrap;
}

/* .row1, .row2, .row3, .row4 {
display: flex;
flex-direction: row;
height: 25%;
width: 100%; */
/* } */
.cell {
    width: 25%;
  height: 25%;
  width: 25%;
  height: 25%;
  border: 1px solid purple;
}

.purple {
  /* height: 100px;
width: 100px; */
width: 25%;
height: 25%;
background-image: url('purple.png');
background-size: cover;
border: 1px solid gray
}



.red {
  /* height: 100px;
width: 100px; */
width: 25%;
height: 25%;
background-image: url('red.png');
background-size: cover;
border: 1px solid gray
}

.blue {
  /* height: 100px;
width: 100px; */
width: 25%;
height: 25%;
  background-image: url('blue.png');
  background-size: cover;
  border: 1px solid gray
}