* {
  box-sizing: border-box
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 0; 
  background-color: #df949f;
  font-family: 'Share Tech Mono', monospace;
}

.points {
  display: flex;
  flex-direction: row;
}

.logo {
  display: flex;
  height: 50%;
  width: 50%;
  background-image: url('/images/frogger.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px 0px 0px 0px;
}

h3 {
  padding: 10px 30px 30px 30px;
  margin: 0px;
}

.link {
  display: flex;
  width: 450px;
  flex-direction: row;
  justify-content: left;
  /* align-items: flex-start; */
}

h5 {
  justify-content: left;
}

.grid { 
  display: flex;
  flex-direction: row;
  height: 470px;
  width: 470px;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center; 
  border-radius: 5px;
  border: 10px solid white;
}

.cell {
  width: 50px;
  height: 50px;
  font-size: 10px;
  display: flex;
  background-color: #60aec9;

}

.lilypad {
  width: 50px;
  height: 50px;
  background-image: url('/images/lilypad.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bike {
  width: 50px; 
  height: 50px;
  background-image: url('/images/bike.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-image: center;
}
.yellowCar {
  width: 50px;
  height: 50px;
  background-image: url('/images/yellowCar.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.policeCar {
  width: 50px;
  height: 50px;
  background-image: url('/images/policeCar.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.log {
background-image: url('/images/log.png');
background-position: center;
background-size: contain;
}

.grass {
  background-color: #96c496;
}

.roadPolice {
  background-color: lightgrey;
  border-bottom: 3px solid #554e4e;
}
.roadYellow {
  background-color: lightgrey;
  border-top: 3px solid #554e4e;
  border-bottom: 3px dotted yellow;
}

.roadTop {
  background-color: lightgrey;
  border-top: 3px solid #554e4e;
  border-bottom: 3px dotted yellow;
}

.roadMiddle {
  background-color: lightgrey;
}

.roadBottom {
  background-color: lightgrey;
  border-bottom: 3px solid #554e4e;
  border-top: 3px dotted yellow;
}
.frog {
  width: 50px;
  height: 50px;
  background-image: url('/images/froggy.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.start, #myBtn {
  margin: 10px;
  width: 150px;
  background-color: #df949f;
  padding: 10px;
  margin: 20px;
  border-radius: 4px;
  border: 3px solid black ;
  font-family: 'Share Tech Mono', monospace;
}

.gameover {
  display: flex;
  display: none;
  z-index: 1;
  background-color: white;
  position: absolute; 
  align-items: center; 
  width: 470px;
  height: 80px;
  padding: 10px;
}  

.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: #c7529a66;

}

.modal-content {
  background-color: #e4bebe;
  margin: 10% auto; 
  padding: 20px;
  border: 5px solid white;
  border-radius: 5px;
  width: 550px; 
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

a:link {
  text-decoration: none;
}
a:visited {
  color: #050a05;;
}
a:hover {
  color: #96c496;
  text-decoration: underline;
}
a:active {
  color: red;
}