* {
  box-sizing: border-box
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 0; 
  background-color: #df949f;
  font-family: 'Share Tech Mono', monospace;
}

.logo {
  display: flex;
  height: 50%;
  width: 50%;
  background-image: url('/images/frogger.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px 0px 0px 0px;
}

h3 {
  padding: 10px 30px 30px 30px;
  margin: 0px;
}